body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: transparent;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.search-container {
    width: 100%;
    height: 100%;
    background: rgba(30, 30, 30, 0.9);
    border-radius: 16px;
}

.search-input {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 300px;
    height: 30px;
    padding: 10px 15px;
    outline: none;
    font-size: 16px;
    background: transparent;
    color: #DADADA;
    border: none;
}
